@import "variables";

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none !important;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

// Удаление иконки очистки поля в IE
input[type="text"]::-ms-clear {
    display: none;
}

// Удаление иконки отображения пароля в IE
input[type="password"]::-ms-reveal {
    display: none;
}

body, html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $color-font-primary;

    &.modal-open {
        overflow: hidden !important;
    }
}

#header,
#footer {
    flex: none;
}

#main {
    flex: 1 0 auto;
    height: auto;
}

.hidden {
    display: none !important;
}

.invisible {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
    z-index: -1 !important;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.clearfix {
    display: block;
    width: 100%;
    height: 0;

    &::before,
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 63px;
    background: #060606;
    box-shadow: inset 0 0 0 1px $color-font-primary;
    box-sizing: border-box;
    transition: all .1s linear;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: $color-font-primary;
    text-decoration: none;
    padding-top: 2px;

    &:disabled {
        cursor: not-allowed !important;
        opacity: 0.6 !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}