//- Include used template for this page
extends ../../templates/default/template

//- Variables for include this in used template
block variables
    - let title       = 'Write title for this page here'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'write-page-class-here'

block content
    h1 Hello world!